html, body{
	background-color: #03005b;
}

.audio_visual > wave{
    border: 1px solid #fff;
    height: 128px !important;
}

.audio_visual > wave > canvas {
  background-color: rgba(255,255,255,0);
  width: 0px;
}

.audio_visual > wave > region{
    background-color: rgba(255,255,255,0.4);
}

.waveform-container > .labels > label_container tag:first-child  .fa.fa-remove{
    display: none!important;
}

.controls-container{
    margin-top: 120px;
    background-color: red;
}

.waveform-container{
    width: 90%;
    float: right;
}
.labels{
    width: 100%;

}
.audio_visual{
	width: 100%;
}
.audio_visual > wave{
    width:100%;
}
.creation_stage_container{
    position: absolute;
    width: 100%;
    height: 50px;
}
.creation_stage_container.disabled{
    display: none!important;
}
.creation_stage_container .time_segment{
    display: none!important;
}
.creation_stage_container .tag_container{
    margin: 10px auto 0 auto;
    text-align: center;
}
.creation_stage_container .tag_container .stage_3_label{
    display:none;
}
.creation_stage_container .tag_container .annotation_tag.btn{
    background-color: rgba(255,255,255,0);
    margin: 0px!important;
    color: #fff !important;
    border: 1px solid #fff;
    width: 70px;
    text-align: center;
    padding: 0;    
}
.creation_stage_container .tag_container .annotation_tag.btn:hover{
    background-color: #fff;
    color: #000!important;
}
.play_bar{
	display: inline-block;
	text-align: center;
    padding: 10px 0px;
    margin-top: 138px;
    width: 10%;
    cursor: pointer;
}
.play_audio.fa{
    font-size: 68px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    color: #03005b;
    background-color: #fff;
}
.play_audio.fa:before{
	padding: 1px;
}

.play_bar .timer{
	display:none;
}
.btn_split{
    display: inline-block;
    color: #000;
    text-align: center;
    width: 10%;
    height: 25px;
}
.btn_split div{
    width:50px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
    cursor: pointer;
}
.controls_container{
    margin-top: 100px;
    text-align: center;
    color: #fff;
    height: 250px;
    background-color: #020049;
    position: relative;
}
.progress_bar{
    text-align: center;
}
.progress_level{
	margin-top: 12px;
}
.progress_level div{
	display: none;
}
.progress_level .visited{
	display: block
}
.btn-circle {
	width: 20px;
	height: 20px;
	margin-right: 50px;
	text-align: center;
	padding: 2px 0;
	font-size: 12px;
	border-radius: 15px;
	border: 2px solid #fff;
	background-color: rgba(255,255,255,0);
}
.btn-circle:hover, .btn-circle.visited{
	background-color: #fff;
}
.btn.btn-circle:first-child{
    margin-left: 50px;
}
.btn.btn-circle:not(:last-child):after {
    content: "";
    color: red;
    width: 55px;
    left: 18px;
    bottom: 12px;
    display: inline-block;
    border-top: 2px solid #fff;
    position: relative;
}

.level_description{
    margin-top: 20px;
}
.level_description .level{
	display: none;
}
.level_description .level textarea{
	width: 50%;
	min-width: 250px;
	height: 100px;
	resize: none;
}
.level_description .level.visited{
	display: block;
}
.level_description .level.level_2 .examples .btn{
	background-color: rgba(255,255,255,0);
	border: 2px solid #fff;

}
.submit_container{
	position: absolute;
	bottom: 0px;
	right: 0px;	
}
.submit_container .btn{
	background-color: #fff;
	color: #000!important;
    font-weight: normal;    margin: 10px 10px 10px 0;
    display: none;
}
.submit_container .btn.visited{
	display: inline-block;
}
@media only screen and (max-width: 960px) {
    .waveform-container{
        width: 100%;
    }
    .play_bar {
        display: block;
        margin: auto;
    }
    .btn_split{
        display: block;
        margin: 0 auto;
    }
}